.animatedTitle{
    --title-height: 3rem;

    height: var(--title-height);
    overflow-y: hidden;
    position: relative;

    >div{
       animation: animate;
       animation-duration: 8s;
       animation-iteration-count: infinite;
       display: grid;
       grid-template-columns: 1fr;
       gap: var(--title-height);
    }

    >div>div{
        height: var(--title-height);
        padding: 0px 20px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes animate{
    16%{ transform: translateY(0); }
    33%{ transform: translateY(calc(var(--title-height) * -1)); }
    50%{ transform: translateY(calc(var(--title-height) * -2)); }
    66%{ transform: translateY(calc(var(--title-height) * -3)); }
    83%{ transform: translateY(calc(var(--title-height) * -4)); }
    100%{ transform: translateY(calc(var(--title-height) * -5)); }
}